<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Julius+Sans+One&family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/table2.css">
    <link rel="stylesheet" href="../static/input.css">
    <title>Document</title>
</head>
<body>
    <section>
      <main class="container">
        <h1 class="header header2">Structure Tweets</h1>
        <div class="table-container one">
            <table>
                <tr>
                    <th>tweet_id</th>
                    <th>tweet_text</th>
                    <th>image</th>
                </tr>
                {% for tweet_id, tweet_text, image_path in data %}
                <tr>
                    <td>{{ tweet_id }}</td>
                    <td>{{ tweet_text  }}</td>
                    <td> {% load static %}
                        <img src="{% static image_path %}" width="140" height="110"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <h1 class="header header2">Humanitarian Tweets</h1>
        <div class="table-container table-container2 two">
            <table>
                <tr>
                    <th>tweet_id</th>
                    <th>tweet_text</th>
                    <th>image</th>
                </tr>
                {% for tweet_id2, tweet_text2, image_path2 in data2 %}
                <tr>
                    <td>{{ tweet_id2 }}</td>
                    <td>{{ tweet_text2  }}</td>
                    <td> {% load static %}
                        <img src="{% static image_path2 %}" width="140" height="110"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
      </main>
      <footer></footer>
    </section>
  </body>
</html>